<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<script src="/static/jquery.min.js"></script>
<script src="/static/index.js"></script>
<link rel="stylesheet" type="text/css" href="/static/index.css">

<body>
    <div class="login-form">
        <input value="" name="user_name" placeholder="input you username" id="user_name"><br>
        <input value="" type="password" name="user_key" placeholder="input you key" id="user_key"><br>
        <button onclick="login_user()" style="margin-top:15px;">Login in</button><br>
        <button onclick="create_new_user()" style="margin-top: 15px;">Create New User</button>
    </div>
</body>
</html>